<div class="container">
    <h3>@Texts["Create"]</h3>
    <div class="form-wrapper">
        @using (Html.BeginForm())
        {
            @Html.EditorForModel()
            @await Html.SubmitButtonAsync(Texts["Create"].Value)
        }
    </div>
</div>