@model PreviewableItemsViewModel
<div class="container">
    <h1>@Texts[$"List_{Model.Title}"]</h1>
    @await Html.LinkButtonAsync(Url.Action("Create"), Texts["List_CreateItem"].Value, "add")
    @using (Html.BeginForm())
    {
        @Html.EditorForModel("PreviewableItems")
    }
</div>